<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>StravaWars</title>
    <link href="{{ asset('css/base.css') }}" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/HamburgerMenu.js') }}"></script>
    <script src="{{ asset('js/SyncPopUp.js') }}"></script>
</head>
<header>
    <div class="banner">
        <a href="/maps">
            <img src="{{ asset('images/map_icon.png') }}" alt="map icon" style="width: 100px; height: 100px;">
        </a>
        <a href="/">
            <img src="{{ asset('images/stravawars_icon.png') }}" alt="stravawars icon" style="width: 200px; height: 100px;">
        </a>
        <div class="profile-menu" id="profile-clickable">
            <img id="profile-picture" src="{{ user.profile_medium }}" alt="profile picture" style="width: 100px; height: 100px">
            <div id="menu-wrapper">
                <div id="hamburger-menu"><span></span><span></span><span></span></div>
            </div>
            <div id="menu-container">
                <ul class="menu-list accordion">
                    <li id="nav1" class="toggle accordion-toggle">
                        <span class="icon-plus"></span>
                        <a class="menu-link" href="#">Friends</a>
                    </li>
                    <ul class="menu-submenu accordion-content">
                        <li><a class="head" href="#">Add Friend</a></li>
                        <li><a class="head" href="#">Your Friends</a></li>
                    </ul>
                    <li id="nav2" class="toggle accordion-toggle">
                        <span class="icon-plus"></span>
                        <a class="menu-link" href="#">Account</a>
                    </li>
                    <ul class="menu-submenu accordion-content">
                        <li><a class="head" href="{{ path('profile') }}">Profile</a></li>
                        <li><a class="head" href="{{ path('connect_to_strava') }}">Log out</a></li>
                        <li><a class="head" href="#">Delete account</a></li>
                    </ul>
                    <li id="nav3" class="toggle accordion-toggle">
                        <span class="icon-plus"></span>
                        <a class="menu-link" href="#">Settings</a>
                    </li>
                    <ul class="menu-submenu accordion-content">
                        <li id="dark-mode"><a class="head" href="#">Dark mode</a></li>
                        <li><a class="head" href="#">More settings</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</header>


<!-- Pop-up venster -->
<div id="popup" class="popup">
    <div class="popup-content">
        <!-- Zijbalk met foto-buttons -->
        <div class="sidebar">
            <button class="sidebar-btn">
                <img src="{{ asset('images/activity.png') }}" alt="Button 1">
            </button>
            <button class="sidebar-btn">
                <img src="{{ asset('images/pasted-image.png') }}" alt="Button 2">
            </button>
        </div>

        <!-- Hoofdcontent -->
        <div class="main-content">
            <span class="close-btn" onclick="closePopup()">&times;</span>
            <h2>Popup Venster</h2>
            <p>Hier kun je tekst of een formulier plaatsen.</p>
        </div>
    </div>
</div>
<script src="{{ asset('js/DarkMode.js') }}"></script>
<body>
{% block body %}
{% endblock %}
<footer>
    <button class="floating-button" onclick="floatingButtonAction()"><img src="{{ asset('images/refreshbutton.png') }}"></button>
</footer>
</body>
</html>