<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Stravawars
        {% endblock %}
    </title>

    <link id="dynamic-favicon" rel="shortcut icon" type="image/png" href="{{ asset('images/favicon.png') }}">

    <link href="{{ asset('css/base.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/hamburger_menu.css') }}" rel="stylesheet"/>

    {% block stylesheets %}
    {% endblock %}
</head>
<header>
    <div class="banner">
        <div class="left">
            <a href="{{ path('maps') }}">
                <img src="{{ asset('images/map_icon.png') }}" alt="map icon" style="width: 100px; height: 100px;">
            </a>
        </div>
        <div class="center">
            <a href="{{ path('home') }}">
                <img src="{{ asset('images/stravawars_icon.png') }}" alt="stravawars icon" style="width: 200px; height: 100px;">
            </a>
        </div>
        <div class="right">
            <div class="profile-menu" id="profile-clickable">
                <img id="profile-picture" src="{{ userData.profile_medium }}" alt="profile picture" style="width: 100px; height: 100px">
                <div id="menu-wrapper">
                    <div id="hamburger-menu"><span></span><span></span><span></span></div>
                </div>
                <div id="menu-container">
                    <ul class="menu-list accordion">
                        <li id="nav1" class="toggle accordion-toggle">
                            <span class="icon-plus"></span>
                            <a class="menu-link" href="#">Friends</a>
                        </li>
                        <ul class="menu-submenu accordion-content">
                            <li><a class="head" href="#">Add Friend</a></li>
                            <li><a class="head" href="#">Your Friends</a></li>
                        </ul>
                        <li id="nav2" class="toggle accordion-toggle">
                            <span class="icon-plus"></span>
                            <a class="menu-link" href="#">Account</a>
                        </li>
                        <ul class="menu-submenu accordion-content">
                            <li><a class="head" href="{{ path('profile') }}">Profile</a></li>
                            <li><a class="head" href="{{ path('connect_to_strava') }}">Log out</a></li>
                            <li><a class="head" href="#">Delete account</a></li>
                        </ul>
                        <li id="nav3" class="toggle accordion-toggle">
                            <span class="icon-plus"></span>
                            <a class="menu-link" href="#">Settings</a>
                        </li>
                        <ul class="menu-submenu accordion-content">
                            <li id="dark-mode"><a class="head">Dark mode</a></li>
                            <li><a class="head" href="#">More settings</a></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>


<body>
    {% block body %}
    {% endblock %}

    <script>
        const favicon = document.getElementById('dynamic-favicon');
        const color = "{{ user ? user.color : '' }}";
        favicon.href = '/public/images/favicon' + color + '.png';
        console.log(color);
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/HamburgerMenu.js') }}"></script>
    <script src="{{ asset('js/DarkMode.js') }}"></script>

    {% block javascripts %}
    {% endblock %}
</body>
</html>