<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>StravaWars</title>
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
    <link href="{{ asset('css/connectStrava.css') }}" rel="stylesheet"/>
</head>
<header>
    <div class="default-banner">
        <img src="{{ asset('images/stravawars_icon.png') }}" alt="stravawars icon" style="width: 200px; height: 100px;">
    </div>

</header>
<body>
    <div class="strava-button">
        <a href="{{ path('strava_connect') }}">
            <img src="{{ asset('images/strava_connect_button.png') }}" alt="strava connect button">
        </a>
    </div>
</body>
</html>
