{% extends 'base.html.twig' %}

{% block body %}
    <!-- leaflet provides global map and ability to add route and hexagons -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{{ asset('js/polyline.js') }}"></script>
    <script src="{{ asset('js/Hexagon.js') }}"></script>
    <link href="{{ asset('css/home.css') }}" rel="stylesheet">

    <!-- allow js to access constants from controller -->
    <script>
        const user = "{{ user.firstname ~ ' ' ~ user.lastname }}";
        const hexagons_db = {{ hexagons|json_encode|raw }};
    </script>

    {% include('sync.html.twig') %}

    <div class="container">
        <h1>All Activities</h1>
        {% if activities is not empty %}
            <div class="activity-list">
                {% for activity in activities %}
                    <div class="activity-card" style="display: flex">
                        <div style="width: 20%">
                            <h3>{{ activity.name }}</h3>
                            <p><strong>Type:</strong> {{ activity.type }}</p>
                            <p><strong>Date:</strong> {{ activity.start_date|date('Y-m-d H:i') }}</p>
                            <p><strong>Distance:</strong> {{ (activity.distance / 1000) | number_format(2) }} km</p> <!-- Distance in kilometers -->

                            {% set total_seconds = activity.elapsed_time %}
                            {% set hours = total_seconds // 3600 %}
                            {% set minutes = (total_seconds % 3600) // 60 %}
                            {% set seconds = total_seconds % 60 %}
                            <p><strong>Duration:</strong> {{ hours }}h {{ minutes }}m {{ seconds }}s</p> <!-- Duration formatted as h:m:s -->
                            <p><strong>Kudos:</strong> {{ activity.kudos_count }}</p>
                            <a class="strava-button" href="https://www.strava.com/activities/{{ activity.id }}" target="_blank">
                                <img src="{{ asset('images/view_on_strava.png') }}" alt="strava connect button" style="width: 100px; height: 33px">
                            </a>
                        </div>

                        <div style="width: 80%">
                            {% if activity.map.summary_polyline is not empty %}
                                <div id="map_{{ activity.id }}" class="activity-map" data-polyline="{{ activity.map.summary_polyline }}" style="width: 90%; height: 100%"></div>
                            {% else %}
                                <p>No map available for this activity.</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>You have no recent activities.</p>
            <p><strong>Go for a run!</strong></p>
            <style> footer { position: fixed; bottom: 0;} </style>
        {% endif %}
    </div>

    <footer>
        <img src="{{ asset('images/powered_by_strava.png') }}" alt="powered by strava">
    </footer>
{% endblock %}


