{% extends 'base.html.twig' %}

{% block body %}
    <!-- leaflet provides global map and ability to add points / hexagons -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="{{ asset('css/map.css') }}" rel="stylesheet"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- script to draw hexagon over the world, fully customizable -->
    <script src="{{ asset('js/DrawHexagon.js') }}"></script>
    <script src="{{ asset('js/WorldMap.js') }}"></script>
    <script src="{{ asset('js/HexagonPopUp.js') }}"></script>
    <!-- allow other js to access user -->
    <script>const user = "{{ user.firstname ~ ' ' ~ user.lastname }}";</script>
    <div id="map"></div>


{% endblock %}
