{% extends 'base.html.twig' %}

{% block title %}
    StravaWars | Profile
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="profile-container">
        <div class="profile-icon-container">
            <img src="{{ userData.profile_medium }}" alt="Profile Picture">
            <h1>{{ user.username }}</h1>
        </div>
        {# testing #}
        <div class="profile-activities-container">
            <div id="calendar"></div>
        </div>
        <div class="profile-friends-container">
            <ul>
                <li><span class="profile-friends-initials"></span><span class="profile-friends-username">FRIEND 1</span></li>
                <li><span class="profile-friends-initials"></span><span class="profile-friends-username">FRIEND 2</span></li>
                <li><span class="profile-friends-initials"></span><span class="profile-friends-username">FRIEND 3</span></li>
                <li><span class="profile-friends-initials"></span><span class="profile-friends-username">FRIEND 4</span></li>
                <li><span class="profile-friends-initials"></span><span class="profile-friends-username">FRIEND 5</span></li>
            </ul>
        </div>
        <div class="profile-stats-container">4</div>
    </div>
{% endblock %}
{% block javascripts%}
    <script>const activities = {{ activities|json_encode|raw }};</script>
    <script src="{{ asset('js/Calender.js') }}"></script>
{% endblock %}


