{% extends 'base.html.twig' %}

{% block title %}
    StravaWars | Profile
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="profile-container">
        <div class="profile-icon-container">
            <img src="{{ user.profile_medium }}" alt="Profile Picture">
            <h1>{{ user.firstname }} {{ user.lastname }}</h1>
        </div>
        {# testing #}
        <div class="profile-activities-container">
            <div id="calendar"></div>
        </div>
        <div class="profile-friends-container">
            <ul>
                <li><span class="profile-friends-initials">OM</span><span class="profile-friends-username">Oscar Mues</span></li>
                <li><span class="profile-friends-initials">OM</span><span class="profile-friends-username">Oscar Mues</span></li>
                <li><span class="profile-friends-initials">OM</span><span class="profile-friends-username">Oscar Mues</span></li>
                <li><span class="profile-friends-initials">OM</span><span class="profile-friends-username">Oscar Mues</span></li>
                <li><span class="profile-friends-initials">OM</span><span class="profile-friends-username">Oscar Mues</span></li>
                <li><span class="profile-friends-initials">OM</span><span class="profile-friends-username">Oscar Mues</span></li>
                <li><span class="profile-friends-initials">OM</span><span class="profile-friends-username">Oscar Mues</span></li>
                <li><span class="profile-friends-initials">OM</span><span class="profile-friends-username">Oscar Mues</span></li>
                <li><span class="profile-friends-initials">OM</span><span class="profile-friends-username">Oscar Mues</span></li>
                <li><span class="profile-friends-initials">OM</span><span class="profile-friends-username">Oscar Mues</span></li>
                <li><span class="profile-friends-initials">OM</span><span class="profile-friends-username">Oscar Mues</span></li>
                <li><span class="profile-friends-initials">OM</span><span class="profile-friends-username">Oscar Mues</span></li>
                <li><span class="profile-friends-initials">OM</span><span class="profile-friends-username">Oscar Mues</span></li>
                <li><span class="profile-friends-initials">OM</span><span class="profile-friends-username">Oscar Mues</span></li>
                <li><span class="profile-friends-initials">OM</span><span class="profile-friends-username">Oscar Mues</span></li>
                <li><span class="profile-friends-initials">OM</span><span class="profile-friends-username">Oscar Mues</span></li>
            </ul>
        </div>
        <div class="profile-stats-container">4</div>
    </div>
{% endblock %}
{% block javascripts%}
    <script src="{{ asset('js/Calender.js') }}"></script>
{% endblock %}


